
@model Testovoe_zadaniye.DataBase.Addform

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Adding tourist</title>
</head>
<body>
    <div>
        <h3>Add new Torist</h3>
        <p>Enter fields:</p>

        @using (Html.BeginForm("AddTourist", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <table>

                <tr>
                    <td>Hometown:</td>
                    <td> @Html.TextBoxFor(c => c.Hometown)</td>
                </tr>
                <tr>
                    <td>Full Name:</td>
                    <td> @Html.TextBoxFor(c => c.Fullname)</td>
                </tr>
                <tr>
                    <td>Age:</td>
                    <td>@Html.TextBoxFor(c => c.Age)</td>
                </tr>
                <tr>

                    <td>Guide:</td>
                    <td>
                        @Html.DropDownListFor(c => c.GuideId, Model.selectListg);
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <label>Аватар</label>
                            <input name="Avatar" type="file" class="form-control" />
                        </p>
                    </td>
                </tr>

                @for (int i = 0; i < Model.Tours.Count(); i++)
                {
                    <tr>
                        <td>
                            @Html.CheckBoxFor(c => c.Tours[i].selected)
                            @Model.Tours[i].Name
                            @Html.HiddenFor(c => c.Tours[i].Name)
                            @Html.HiddenFor(c => c.Tours[i].Data)
                            @Html.HiddenFor(c => c.Tours[i].TourId)
                        </td>
                    </tr>
                }

                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        }
    </div>
</body>
</html>