
@model Testovoe_zadaniye.Models.Addform

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<img class="mb-4" src="~/images/logo.png" alt="" width="100" height="100">

<div class="row justify-content-md-center">
    <div class="col-md-4">
        <h3>Please enter new tourist</h3>
    </div>
</div>

@using (Html.BeginForm("AddTourist", "AddTourist", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="row">
        <div class="col-md-6 mb-3">
            @Html.LabelFor(c => c.Hometown)
            @Html.TextBoxFor(c => c.Hometown, new { @class = "form-control", @placeholder = "Kyiv", @required = "" })
        </div>
        <div class="col-md-6 mb-3">
            @Html.LabelFor(c => c.Fullname)
            @Html.TextBoxFor(c => c.Fullname, new { @class = "form-control", @placeholder = "Petrov I.", @required = "" })
        </div>
        <div class="col-md-6 mb-3">
            @Html.LabelFor(c => c.Age)
            @Html.TextBoxFor(c => c.Age, new { @class = "form-control", @placeholder = "18", @required = "", type = "number", min = "0", step = "1" })
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            @Html.LabelFor(c => c.GuideId)
            @Html.DropDownListFor(c => c.GuideId, Model.selectListg, new { @class = "custom-select d-block w-100" })
        </div>
    </div>
    <div>
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                <label for="Avatar">Photo:</label>
                <div class=" custom-file">
                    @Html.TextBoxFor(m => m.Avatar, new { type = "file", @class = "custom-file-input" })
                    @Html.ValidationMessageFor(m => m.Avatar)
                    @Html.LabelFor(c => c.Avatar, new { @class = "custom-file-label" })

                </div>
            </div>
        </div>
    </div>
    <label for="selected">Choose Tours:</label>
    <div class="row justify-content-md-center">

        @for (int i = 0; i < Model.Tours.Count(); i++)
        {

            <div class="col-md-4">
                <div class="form-group form-check">
                    @Html.CheckBoxFor(c => c.Tours[i].selected, new { @class = "form-check-input" })
                    @Model.Tours[i].Name
                    @Html.HiddenFor(c => c.Tours[i].Name)
                    @Html.HiddenFor(c => c.Tours[i].Data)
                    @Html.HiddenFor(c => c.Tours[i].TourId)
                </div>
            </div>
        }

    </div>


    <div class="row justify-content-md-center">

        <div class="col-md-2">
            <p><a class="btn btn-primary btn-lg" href="javascript: history.go(-1)" role="button">Pevious Page</a></p>
            <p><button class="btn btn-primary btn-lg btn-block" type="submit">Confirm</button></p>
        </div>
    </div>



}
