
@model Testovoe_zadaniye.Models.Addform

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Adding tourist</title>
</head>
<body>
    <div>
        <h3>Add new Torist</h3>
        <p>Enter fields:</p>
        @using (Html.BeginForm("SaveNewTourist", "AddTourist", FormMethod.Post))
        {
            @Html.HiddenFor(x => x.SelectedTourIds)
            <table>

                <tr>
                    <td>Hometown:</td>
                    <td> @Html.TextBoxFor(x => x.Hometown, new { @class = "form-control", @readonly = "true" }) </td>
                </tr>
                <tr>
                    <td>Full Name:</td>
                    <td>@Html.TextBoxFor(x => x.Fullname, new { @class = "form-control", @readonly = "true" }) </td>
                </tr>
                <tr>
                    <td>Age:</td>
                    <td>@Html.TextBoxFor(x => x.Age, new { @class = "form-control", @readonly = "true" })</td>
                </tr>
                <tr>

                    <td>Guide:</td>
                    <td>
                        @Html.DropDownListFor(c => c.GuideId, Model.selectListg);
                    </td>
                </tr>
                <tr>
                    <td>
                        <img  src="data:image/jpeg;base64,@(Convert.ToBase64String(ViewBag.UploadedPhoto))" />
                    </td>
                </tr>




                @for (int i = 0; i < Model.Tours.Count(); i++)
                {
                    <tr>
                        <td>
                            @Html.CheckBoxFor(c => c.Tours[i].selected, new { @disabled = "disabled" })
                            @Model.Tours[i].Name
                            @Html.HiddenFor(c => c.Tours[i].Name)
                            @Html.HiddenFor(c => c.Tours[i].Data)
                            @Html.HiddenFor(c => c.Tours[i].TourId)
                            @Html.HiddenFor(c => c.Tours[i].selected)
                        </td>
                    </tr>
                }





                <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
            </table>
        }
    </div>
</body>
</html>