@using System.Linq;
@model Testovoe_zadaniye.Models.Addform

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<img class="mb-4" src="~/images/logo.png" alt="" width="100" height="100">
@using (Html.BeginForm("SaveNewTourist", "AddTourist", FormMethod.Post))
{
    @Html.HiddenFor(x => x.SelectedTourIds)
    @Html.HiddenFor(x => x.Path)
    <div class="row">
        <div class="col-md-6 mb-3">
            @Html.LabelFor(c => c.Hometown)
            @Html.TextBoxFor(c => c.Hometown, new { @class = "form-control", @placeholder = "Kyiv", @required = "", @readonly = "true" })
        </div>
        <div class="col-md-6 mb-3">
            @Html.LabelFor(c => c.Fullname)
            @Html.TextBoxFor(c => c.Fullname, new { @class = "form-control", @placeholder = "Petrov I.", @required = "", @readonly = "true" })
        </div>
        <div class="col-md-6 mb-3">
            @Html.LabelFor(c => c.Age)
            @Html.TextBoxFor(c => c.Age, new { @class = "form-control", @placeholder = "18", @required = "", type = "number", min = "0", step = "1", @readonly = "true" })
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            @Html.LabelFor(c => c.GuideId)
            @Html.TextBoxFor(c => c.GuideId, new { @class = "form-control", @required = "", @readonly = "true" })

        </div>
    </div>
    <div>
        <label>Photo:</label>
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                <p><img src="@Url.Content(Model.Path)" width="100" height="100"></p>
            </div>
        </div>
    </div>
    <label for="selected">Choose Tours:</label>
    <div class="row justify-content-md-center">

        @for (int i = 0; i < Model.Tours.Count(); i++)
        {

            <div class="col-md-4">
                <div class="form-group form-check">
                    @Html.CheckBoxFor(c => c.Tours[i].selected, new { @class = "form-check-input", @disabled = "disabled" })
                    @Model.Tours[i].Name
                    @Html.HiddenFor(c => c.Tours[i].Name)
                    @Html.HiddenFor(c => c.Tours[i].Data)
                    @Html.HiddenFor(c => c.Tours[i].TourId)
                    @Html.HiddenFor(c => c.Tours[i].selected)
                </div>
            </div>
        }

    </div>
    <div>
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Confirm</button>
            </div>
        </div>
    </div>


}
