@model Testovoe_zadaniye.Models.EditForm

<img class="mb-4" src="~/images/logo.png" alt="" width="100" height="100">

<div class="row justify-content-md-center">
    <div class="col-md-4">
        <p><h1>Enter tourist changes</h1></p>
    </div>
</div>

@using (Html.BeginForm("ToEdit", "Navigation", FormMethod.Post, new
{
    enctype = "multipart/form-data",
    onSubmit = "return jQueryAjaxPost(this);",
    data_restUrl = Url.Action("ToEdit", "Navigation", new { id = 0 }),
    id = "jqSubmit"
}))
{
    @Html.HiddenFor(c => c.Touristid)
    @Html.HiddenFor(c => c.Path)


    <div class="row">
        <div class="col-md-6 mb-3">
            @Html.LabelFor(c => c.Hometown)
            @Html.EditorFor(c => c.Hometown, new { @class = "form-control", @placeholder = "Kyiv", @required = "" })
            @Html.ValidationMessageFor(m => m.Hometown,"", new { @class = "text-danger" })

        </div>

        <div class="col-md-6 mb-3">
            @Html.LabelFor(c => c.Fullname)
            @Html.EditorFor(c => c.Fullname, new { @class = "form-control", @placeholder = "Petrov I.", @required = "" })
            @Html.ValidationMessageFor(m => m.Fullname,"", new { @class = "text-danger" })
        </div>

        <div class="col-md-6 mb-3">
            @Html.LabelFor(c => c.Age)
            @Html.EditorFor(c => c.Age, new { @class = "form-control", @placeholder = "18", @required = "", type = "number", min = "0", step = "1" })
            @Html.ValidationMessageFor(m => m.Age,"", new { @class = "text-danger" })
        </div>

    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            @Html.LabelFor(c => c.GuideId)
            @Html.DropDownListFor(c => c.GuideId, Model.selectListg, new { @class = "custom-select d-block w-100" })
        </div>
    </div>

    <label>Current Photo:</label>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            @if (Model.Path != null)
            {
                <img src="@Url.Content(Model.Path)" width="100" height="100">
            }
        </div>
    </div>
    <div>
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                <label for="Avatar">Photo:</label>
                <div class=" custom-file">
                    @Html.TextBoxFor(m => m.Avatar, new { type = "file", @class = "custom-file-input" })
                    @Html.ValidationMessageFor(m => m.Avatar)
                    @Html.LabelFor(c => c.Avatar, new { @class = "custom-file-label" })
                </div>
            </div>
        </div>
    </div>

    <label for="selected">Choose Tours:</label>
    <div class="row justify-content-md-center">

        @for (int i = 0; i < Model.Tours.Count(); i++)
        {

            <div class="col-md-4" id="checkDiv">
                <div class="form-group form-check">
                    @Html.CheckBoxFor(c => c.Tours[i].selected, new { @class = "form-check-input" })
                    @Model.Tours[i].Name
                    @Html.HiddenFor(c => c.Tours[i].Name)
                    @Html.HiddenFor(c => c.Tours[i].Data)
                    @Html.HiddenFor(c => c.Tours[i].TourId)
                </div>
            </div>
        }

    </div>


    <a class="btn btn-primary btn-lg" href="javascript: history.go(-1)" role="button">Previous Page</a>

}

<div class="spinner-border" id="spin"></div>

<script>
    $('#spin').hide();
    var debounceTimer = null;

    var eventHandler = function () {
        clearTimeout(debounceTimer);
        $('#spin').show();
        debounceTimer = setTimeout(function () {
            $('#jqSubmit').submit();
            console.log("The field has been changed.");
            $('#spin').hide();
        }, 2000);
    }
    $(document).ready(function () {
        $("#Hometown, #Fullname").keyup(eventHandler);
        $("#GuideId, #checkDiv input, #Age").click(eventHandler);
        $("#Avatar").change(eventHandler);
    });
</script>
