@model cloudscribe.Pagination.Models.PagedResult<Tourist>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<section class="text-center">
    <div class="container">
        <img src="~/images/logo.png" alt="" width="100" height="100">
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <p><h1>Tourist list</h1></p>
        </div>
    </div>
</section>

<div class="no-background">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>Home town</th>
                            <th>Fullname</th>
                            <th>Age</th>
                            <th>Photo</th>
                            <th>Guide</th>
                            <th>Tours</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var tourist in Model.Data)
                        {
                            <tr>
                                <td>@tourist.Hometown</td>
                                <td>@tourist.Fullname</td>
                                <td>@tourist.Age</td>
                                <td>
                                    @if (tourist.Avatar != null)
                                    {
                                        <img src="@Url.Content(tourist.Avatar)" width="100" height="100">
                                    }
                                </td>
                                <td><a class="btn btn-primary btn-lg" href="~/Navigation/ToGuide/@tourist.GuideId" role="button">Guide</a></td>
                                <td><a class="btn btn-primary btn-lg" href="~/Navigation/ToTours/@tourist.Touristid" role="button">Tours</a></td>
                            </tr>
                        }



                    </tbody>
                </table>

                <cs-pager
                          cs-pager-li-current-class = "page-item active"
                          cs-pager-li-other-class = "page item"
                          cs-pager-li-non-active-class = "page-item"
                          cs-pager-link-current-class = "page-link"
                          cs-pager-link-other-class = "page-link"
                          cs-paging-pagenumber= "@Model.PageNumber"
                          cs-paging-totalitems = "@Model.TotalItems"
                          cs-paging-pagesize="@Model.PageSize"
                          cs-pagenumber-param="pagenumber"
                          asp-controller="Navigation"
                          asp-action = "TouristList">
   
                          

                          </cs-pager>

                <div class="row justify-content-md-center">

                    <a class="btn btn-primary btn-lg" href="javascript: history.go(-1)" role="button">Pevious Page</a>&nbsp &nbsp

                    <a class="btn btn-primary btn-lg" href="#" role="button" id="btnReserv">Backup Photos</a>&nbsp &nbsp

                    <a class="btn btn-primary btn-lg" href="~/Navigation/TourList" role="button">Tours List »</a>


                </div>
            </div>
        </div>
    </div>
</div>

<div class="alert alert-primary" role="alert" id="backupAlert">
    Backup save succesfully!
</div>

<script>
    $('#backupAlert').hide();
    var debounceTimer = null;
    $(document).ready(function () {
        $("#btnReserv").click(function () {
            clearTimeout(debounceTimer);
            $.ajax({

                type: "GET",
                url: "/Admin/Reserver",
                success: function () {

                    $("#backupAlert").show();

                    debounceTimer = setTimeout(function () {
                        $('#backupAlert').hide();
                    }, 4000);
                }

            })

        })

    })

</script>



