@model Testovoe_zadaniye.Models.EditTourForm

<img class="mb-4" src="~/images/logo.png" alt="" width="100" height="100">

<div class="row justify-content-md-center">
    <div class="col-md-4">
        <h3>Enter tour changes</h3>
    </div>
</div>

@using (Html.BeginForm("ToTourEdit", "AddTour", FormMethod.Post, new
{
    enctype = "multipart/form-data",
    onSubmit = "return jQueryAjaxPost(this);",
    data_restUrl = Url.Action("ToTourEdit", "AddTour", new { id = 0 }),
    id = "jqSubmit"
}))

{
    @Html.HiddenFor(c => c.TourId)

    <div class="row justify-content-md-center">
        <div class="col-md-3 mb-3">
            @Html.LabelFor(c => c.Name)
            @Html.TextBoxFor(c => c.Name, new { @class = "form-control", @required = "" })
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

        <a class="btn btn-primary btn-lg" href="javascript: history.go(-1)" role="button">Previous Page</a>
        <div class="spinner-border" id="spinner"></div>
     
}

<script>

    $('#spinner').hide();
    var debounceTimer = null;
    var eventHandler = function () {

        clearTimeout(debounceTimer);
            $('#spinner').show();
        debounceTimer = setTimeout(function () {
            $('#jqSubmit').submit();
            console.log("The field has been changed.");
            $('#spinner').hide();
        }, 2000);
    }
    $(document).ready(function () {
        $("#Name").keyup(eventHandler);
        //$("#GuideId, #checkDiv input, #Age").click(eventHandler);
        $("#Date").change(eventHandler);
    });


</script>
